%h1 hello
%h3 今日は雨でした。

%p 明日は？

%p そんなの分からん！

%p 冷たい回答。。。

%p hahahahahahahah

%p oooooooooooooooo

%p hahahahahahahah


%p jjjjjjjjjjjjjjjの作業だよ

%p さらにjjjjjjjjjjjjjjjの作業だよ

%p tttttttttttttttの作業だぞ

%p さらにtttttttttttttttの作業だぞ

